
<div class="row row-cols-1 row-cols-md-3 g-4 container" >
  <div class="col" *ngFor="let producto of productos">
    <div class="card h-25">
      <img img src="http://localhost:8080/api/productos/uploads/img/{{producto.imagen}}" alt="{{producto.imagen}}" class="card-img-top"/>
      <div class="card-body">
        <h5 class="card-title">{{producto.nombre }}</h5>
        <p>{{producto.precio | currency:'currencyCharacter':'€'}}</p>
        <a href="#" [routerLink]="['/productos/ver',producto.id]" class="btn btn-primary mt-auto align-self-start">Ver</a>
      </div>
    </div>
  </div>
</div>
